div.minuterie{
  display : flex;
  justify-content: space-between;
  margin-bottom : 50px;
}


p.chiffre{
  font-family: $ff-normal;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin:0;
}
p.temps{
  font-family: $ff-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 24px;
  margin:0;
}


div.minuterie div{
  width: 90px;
  height: 71px;
  background: linear-gradient(136.53deg, #A38DFD 0%, #FFA0A2 93.53%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media screen and (min-width: 768px){
  div.minuterie div{
    width: 118px;
    height: 103px;
    background: linear-gradient(136.53deg, #A38DFD 0%, #FFA0A2 93.53%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  p.chiffre{
    font-family: $ff-normal;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375rem;
    line-height: 1.5rem;
    margin:0;
  }
  p.temps{
    font-family: $ff-normal;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0;
    margin-top:20px;
  }
  div.minuterie{
    max-width: 600px;
    margin: 0 auto;
  }

}