

//MENU

header{
  width: 100vw;
  height: 156px;
  position : fixed;
  background-color: rgba(#fff, 0.95) ;
  z-index : 999;
}
ul{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin:0;
  padding: 0;
  list-style: none;
  align-items: center;
}


li.compagnie{
  order:-1;
}

li {
  font-size : 1rem;
  line-height: 1.2;
}


li.compagnie h1 {
  text-transform: capitalize;
}

//HERO

section.hero{
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  width: 100vw;
  height: 570px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section.hero h2 {
  margin:0;
  font-family: $ff-normal;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.60);
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 768px){
  li.compagnie{
    order:0;
  }
  ul{
    flex-direction: row;
    justify-content: space-around;
  }
  header{
    height: 60px;
  }
}