

p.rabais{
  width:68px;
  height: 54px;
  background-color: $color-rose-clair;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:54px;
  margin:0;
}
div.survol{
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 230px;
  left: 30px;
  visibility: hidden;
  color: black;
}
div.item:hover div.survol{
    visibility: visible;
}
div.item:hover img{
  opacity: 0.4;
}
@media screen and (min-width: 768px){
  section.produits{
    display: flex;
    flex-wrap: wrap;
  }
  div.item{
    width: 256px;
    height: 256px;
  }
}